body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);

    & h1
    {
        text-align: center;
    }

    & h2
    {
        text-align: center;
    }
}

p
{
    line-height: 23px;
}

footer
{
    border-top: 2px lightgrey solid;
}

.line
{
    border-top: 2px lightgrey solid;
    padding-top: 20px;
}

.dotted
{
    text-decoration: underline dotted;
}

.tags
{
    background-color: rgb(223, 223, 223);
    color: brown;
}

.code
{
    background-color: rgb(223, 223, 223);
    color: brown;
    font-size: 16px;
}

.blacktext
{
    color: black;
}

.hashtags
{
    background-color: rgb(223, 223, 223);
    color: rgb(0, 126, 168);
}